:root {
  --general-blue-color: #2196f3;
  --general-gray-color: #2f303a;
  --container-team-color: #f5f4fa;
  --general-font-color: #212121;
  --contact-color: #757575;
  --black-font-color: #000000;
  --white-font-color: #ffffff;
  --footer-link-contact-color: rgba(255, 255, 255, 0.6);
  --border-header-color: #ececec;
  --general-white-color: #e5e5e5;
  --portfolio-border-color: #eeeeee;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--general-font-color);
}

.logo-link-web {
  font-family: 'Raleway', sans-serif;
  color: var(--black-font-color);
  font-size: 26px;
  text-decoration: none;
  line-height: 1.4em;
  letter-spacing: 0.03em;
}
.logo-web {
  color: var(--general-blue-color);
}

.header-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}
.header-list {
  display: flex;
  gap: 46px;
  list-style: none;
}
.header-nav-link {
  color: var(--general-font-color);
  text-decoration: none;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--general-blue-color);
}
.header-contact {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}
.header-contact-link {
  text-decoration: none;
  color: var(--contact-color);
}
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--general-blue-color);
}

.main-banner-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3em;
  letter-spacing: 0.06em;
  text-align: center;
  max-width: 696px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--white-font-color);
}

.main-banner-container {
  background-color: var(--general-gray-color);
}
.main-banner-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9em;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--general-blue-color);
  color: var(--white-font-color);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 41px 10px 41px;
}
.main-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.main-list-header {
  font-size: 14px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.main-list-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  color: var(--contact-color);
}
.main-section-whatwedo {
  font-size: 36px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 94px;
  margin-bottom: 50px;
}
.list-style {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
}
.main-team-container {
  background-color: var(--container-team-color);
}
.main-team-header {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  text-align: center;
}
.main-team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
}
.main-image-container {
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;
  background-color: var(--white-font-color);
  border-radius: 0 0 4px 4px;
  width: 270px;
  height: 368px;
}
.image-name {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.03em;
}
.image-profession {
  color: var(--contact-color);
  line-height: 1.2em;
  letter-spacing: 0.03em;
  text-align: center;
}
.fotter-container {
  background-color: var(--general-gray-color);
}
.footer-address {
  margin-top: 20px;
  list-style: none;
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  color: var(--white-font-color);
}
.footer-link {
  text-decoration: none;
  color: var(--footer-link-contact-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--general-blue-color);
}

.article-list-button {
  background-color: var(--container-team-color);
  height: 38px;
  width: 93px;
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6em;
  letter-spacing: 0.03em;
  text-align: center;
}
.article-list-button:hover,
.article-list-button:focus {
  cursor: pointer;
  color: var(--white-font-color);
  background-color: var(--general-blue-color);
  box-shadow: 0px 2px 2px 0px #0000001f;
  box-shadow: 0px 1px 2px 0px #00000014;
  box-shadow: 0px 3px 1px 0px #0000001a;
}
.article-image-container {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 60px) / 3);
  margin: unset;
}
.image-description1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2em;
  letter-spacing: 0.06em;
}
.image-description2 {
  font-weight: 400;
  line-height: 1.9em;
  letter-spacing: 0.03em;
  color: var(--contact-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
}
.header-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30%;
}

.contakt {
  display: flex;
  gap: 50px;
  align-items: center;
}
.header-container {
  border-bottom: 1px solid;
  border-color: var(--border-header-color);
}
.content-container {
  height: 600px;
  background-color: var(--general-gray-color);
  color: var(--white-font-color);
  padding-top: 200px;
  text-align: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.whatwedo-container {
  background-color: var(--general-white-color);
}
.main-team-background {
  background-color: var(--container-team-color);
}
.descryption-worker {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section-two {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-margin :not(:nth-last-child()) {
  margin-bottom: 9px;
}

.portfiolio-background {
  background-color: var(--general-white-color);
}
.portfolio_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 8px;
  margin-bottom: 50px;
}
.flex-items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.item {
  padding: 20px 24px 20px 24px;
  border: solid 1px;
  border-color: var(--portfolio-border-color);
  border-top: 0;
}
.img-container {
  width: auto;
  max-width: 100%;
  height: auto;
}
.font-normal-class {
  font-style: normal;
}
